trigger:
- '*'

pool:
  vmImage: 'ubuntu-22.04'

variables:
  buildConfiguration: 'Release'
  dotnetSdkVersion: '8.x'

steps:
- task: UseDotNet@2
  displayName: 'Use .NET SDK $(dotnetSdkVersion)'
  inputs:
    version: '$(dotnetSdkVersion)'

- task: DotNetCoreCLI@2
  displayName: 'Build project'
  inputs:
    command: 'build'
    arguments: '--configuration $(buildConfiguration)'
    projects: '**/*.csproj'

- task: DotNetCoreCLI@2
  displayName: 'Pack project'
  inputs:
    command: 'pack'
    projects: '**/*.csproj'
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    versioningScheme: byPrereleaseNumber
    majorVersion: '1'
    minorVersion: '1'
    patchVersion: '0'

- task: DotNetCoreCLI@2
  displayName: 'Publish NuGet package'
  inputs:
    command: 'push'
    publishVstsFeed: '$(System.TeamProject)/Tailspin.SpaceGame.Web.Models'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
